doctype html
html(lang="en")
  head
    include _include/head
  body(style="background-image:url(media/pattern/geometry2.png)")
    main.container
      .wrap-info
        img(src="media/images/logo.svg", alt="")
        h3 Welcome to <span>Deseno Studio</span><br>
          | A Web Design Agency that you are looking for.. 
          | Don't worry we are Comming soon...
      
                  
    include _include/foot
    
    
     
    
    
