doctype html
html(lang="en")
  head
    include _include/head
  body(style="background-image:url(media/pattern/giftly.png)")
    main.container
      .wrap-info
        h3 Welcome to <span> "Deseno Studio"</span><br>
          | A Web Design Agency that you are looking for.. 
          | Don't worry we are launching website this week...
      
                  
    include _include/foot
    
    
     
    
    
